#displayTextButton
{
	color: blue;
}

#title
{
	color: orange;
	text-align:center;
	font-size:60px;
	font-family:"Times New Roman", Times, serif;
	border-style:outset;
	border-color:Black;
	border-width:5px;
	margin-bottom:10px;
}

div.bar
{
	display: inline-block;
	width: 200px;
	height: 450px;
	margin-top: 0px;
	margin-left:5px;
	background-color: Teal;
	border-style:outset;
	border-color: Blue;
	border-width: 5px;
	
}

#wrapper
{
	width: 1500px;
	border: 1px solid black;
	overflow: hidden;
}

#chart
{
	width: 1250px;
	border: 1px solid red;
	float: left;
}

#button
{
	border: 1px solid orange;
	
}

