#displayTextButton
{
	color: blue;
}

div.title
{
	color: blue;
	text-align:center;
	font-size:60px;
	font-family:"Times New Roman", Times, serif;
	border-style:outset;
	border-color:Black;
	border-width:5px;
	margin-bottom:10px;
}

div.bar
{
	display: inline-block;
	width: 200px;
	height: 450px;
	margin-top: 0px;
	margin-left:5px;
	background-color: Teal;
	border-style:outset;
	border-color: Blue;
	border-width: 5px;
	
}

